extends layout

block content
  h1 Advanced Networking Project
  p.lead A tool to analyse your GMAIL account. 
  hr
  .row
    .col-sm-6
      h2 Origin Statistics
      p This tool uses header informationation from your last 300 messages to generate origin location and display them on a world map.