extends ../layout

block content
  h2 API
  hr

  .row
    .col-sm-4
      a(href='/api/gmail', style='color: #fff')
        .panel.panel-default(style='background-color: #fff; color: #000; font-size: 24px')
          .panel-body
            img(src='https://cdn-images-1.medium.com/max/1520/1*Jj-Xzp0sIkUg23HOqzZF4w.png', height=100)
            |  GMAIL

